.SmallToBig{
  margin: 10px;
}

.square {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(
    120deg,
    rgb(121, 113, 234),
    rgb(97, 71, 182)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(70, 69, 68);
  cursor: pointer;
}
  
.full-screen-square {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 10vw;
  down: 10vh; */
  /* top: 0;
  left: 0; */
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(
    -45deg,
    rgb(121, 113, 234),
    rgb(97, 71, 182)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 30px; */
  padding: 20px;
}

.full-screen-square:hover{
  cursor: initial;
}
  
.codeblock{
  height: 100vh;
}

.closeIcon{
  position: absolute;
  right: 5%;
  top: 3%;
  color: rgb(233, 64, 64);
  cursor: pointer;
}